<!-- /app/views/observations/_form.html.erb-->
<%= form_with(model: [@loggable,Observation.new]) do |form|%>
<div class="form-group">
   <%= form.text_area :note, class:"form-control", placeholder:"Add your note"%>
   <%= form.text_area :author_name, class:"form-control", placeholder:"Add your name"%>
</div>
<%= form.submit "Create", class: "btn btn-primary"%>
<%end%>